@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

html {
  /* display: grid; */
  font-size: 10px;
  background: url("./backround1.avif") bottom center;
  background-size: cover;
}

* {
  font-family: "Fira Code";
}

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffc600;
  font-size: 6rem;
  position: absolute;
  top: 16%;
  left: 40%;
  user-select:none;
}

.keys {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key:active {
  cursor: grabbing;
}

.key {
  cursor: grab;
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}
/* Added when clicked/key pressed */
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

/* Small screen styles */
@media (max-width: 75rem) {
  .keys {
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }

  .key {
    transition: all 0.4s ease;
    font-size: 24px;
    width: 10rem;
    height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  kbd {
    transition: all 0.3s ease;
    font-size: 20px;
  }

  .sound {
    transition: all 0.2s ease;
    font-size: 12px;
  }
}
